div.quokka-container{
    width: 443px; 
    height: 510px; 
    background-color: Transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;

    & > img {
        width: 443px; 
        height: 510px;
        margin: 0;
        padding: 0; 
    }
}
