.app-container {
    height: 95vh;
    padding-top: 1em;
    padding-left: 1em;

    background-image: url('/assets/Quokka.png');
    background-repeat: no-repeat;
    background-size: 54px;    
    background-position-y: 4px;

    h1.title {
        color: #ff9800;
        font-size: 48px;
        margin-top: 19px;        
    }

    mat-tab-group {
        margin-right: 1em;
    }    

    .close-map:hover {
        opacity: 0.7;
    }
}

fc-quokkerize {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}