.app-container {
    height: 95vh;
    padding-top: 1em;
    padding-left: 1em;    

    h1.title {
        color: #ff9800;
        font-size: 48px;
        margin-top: 19px;        
    }

    mat-tab-group {
        margin-right: 1em;
    }    

    .close-map:hover {
        opacity: 0.7;
    }

    .mobile-logo {
        height: 128px;
    }

    .tab-title {
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

fc-quokkerize {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}