.node-container {
    display: flex; 
    position: relative;   

    &.left {
        justify-content: flex-end; 
    }

    &.right {
        justify-content: flex-start; 
    }    
      
    .children-container {
        display: flex;
        flex-direction: column;
        height: 100%;  
        justify-content: end;
    }

    .main-item-container {        
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.left {
            margin-left: 100px;
        }

        &.right {            
            margin-right: 100px;
        }

        &.center { 
            margin-left: 100px;           
            margin-right: 100px;
        }
    } 
    
    .main-item-container {
        
        fc-map-node {
            display: none;    
            
        }
    }

    .main-item-container fc-map-node {
        display: none;        
    }
}