.node-container {
    display: flex; 
    position: relative;   

    &.left {
        justify-content: flex-end; 
    }

    &.right {
        justify-content: flex-start; 
    }    
      
    .children-container {
        display: flex;
        flex-direction: column;         
        justify-content: end;
    }

    .main-item-container {        
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.left {
            margin-left: 100px;
        }

        &.right {            
            margin-right: 100px;
        }

        &.center { 
            margin-left: 100px;           
            margin-right: 100px;
        }
    }   

    .children-container-left {  
        justify-content: start;
        
        &.first-level {
            justify-content: end;
        }
    }
      
    .children-container-right {  
        justify-content: start;
    }
}