<div class="node-container" #c
    [draggable]="!node.isRoot" 
    (dragstart)="dragStart($event)"
    [ngClass]="{'left': node.position == 'left', 'right': node.position == 'right', 'center': node.position == 'center'}">
    
    <div class="children-container children-container-left" *ngIf="node.position !== 'right'" [ngClass]="{'first-level': node.isRoot}">
        <fc-map-node *ngFor="let n of leftNodes$ | async; trackBy: identify; first as isFirst; last as isLast"            
            [node]="n"            
            [isFirst]="isFirst"
            [isLast]="isLast"
            (nodeAdded)="onNodeAdded($event)"
            (nodeDeleted)="onNodeDeleted($event)"
            (nodeMoved)="onNodeMoved($event)"
            (nodeSorted)="onNodeSorted($event)">          
        </fc-map-node> 
    </div>

    <div class="main-item-container" [ngClass]="{'left': node.position == 'left', 'right': node.position == 'right', 'center': node.position == 'center'}">
        <fc-map-item 
            (dragover)="dragOver($event)"
            (drop)="drop($event)"
            (dragleave)="dragOut($event)"
            [ngClass]="{'isHover': isHover}"            
            [nodeId]="('' + node.id)" 
            [title]="('' + node.title)" 
            [isRoot]="node.isRoot"
            [position]="node.position"
            [css]="node.css || 'conn'"
            [isFirstLevel]="node.isFirstLevel"
            [isFirst]="isFirst"
            [isLast]="isLast"
            [state]="node.isNew ? 'edit': 'view'"
            [notes]="node.notes || ''"
            (titleChange)="updateTitle($event)"                 
            (addedNode)="addChild(('' + node.id))" 
            (nodeDeleted)="deleteNode($event)" 
            (initialized)="onInitialized($event)"
            (changeState)="onChangeState()"
            (movedNode)="moveNode($event)"
            (sortedNode)="sortNode($event)"
            (notesChanged)="onNotesChanged($event)"            
            > 
        </fc-map-item>
    </div>

    <div class="children-container children-container-right" *ngIf="node.position !== 'left'">
        <fc-map-node *ngFor="let n of rightNodes$ | async; trackBy: identify; first as isFirst; last as isLast"             
            [node]="n"
            [isFirst]="isFirst"
            [isLast]="isLast"
            (nodeAdded)="onNodeAdded($event)"
            (nodeDeleted)="onNodeDeleted($event)"
            (nodeMoved)="onNodeMoved($event)"
            (nodeSorted)="onNodeSorted($event)">
        </fc-map-node>        
    </div>
</div>